/* Start Embedded */
.embedded > h1 {
  color: white;
  background-color: brown;
  text-align: center;
  padding: 15px;
  border: 2px solid black;
  width: fit-content;
  margin: auto;
  transition: 0.3s;
}

.embedded > h1:hover {
  background-color: white;
  color: black;
  border: 1px solid brown;
}

.embedded .big-box {
  background-color: #eee;
  border-radius: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  padding: 30px;
  gap: 100px;
}

.embedded .big-box .box {
  border-bottom: 1px solid #ccc;
  text-align: center;
  padding: 15px;
}

.embedded .big-box .box i {
  font-size: 100px;
  padding: 15px;
  transition: 0.3s;
}

.embedded .big-box .box i:hover {
  font-size: 120px;
}

.embedded .big-box .box p {
  font-size: 26px;
  font-weight: bold;
}

.embedded .big-box .box a {
  text-decoration: none;
  color: brown;
  transition: 0.3s;
}

.embedded .big-box .box a:hover {
  color: blue;
  font-size: 20px;
}

.embedded .organizer {
  text-align: center;
  display: grid;
  line-height: 0.7;
  padding: 20px;
  margin: auto;
}

.embedded .organizer p {
  font-size: 23px;
  color: #aaa083;
  transition: 0.3s linear;
}

.embedded .organizer p:hover {
  color: black;
}

.embedded .organizer a {
  text-decoration: none;
  color: black;
  border: 1px solid #333;
  border-top: none;
  border-left: none;
  border-right: none;
  width: fit-content;
  margin: auto;
  padding-bottom: 5px;
  cursor: pointer;
  transition: 0.2s linear;
}

.embedded .organizer a:hover {
  font-size: 20px;
}

body h4 {
  text-align: center;
  font-size: 24px;
  padding: 20px;
  transition: 0.3s;
}

body h4 span {
  color: white;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-radius: 30px;
  padding: 6px;
  background-color: #ffc107;
  transition: 0.3s;
}

body h4 span:hover {
  color: white;
  background-color: brown;
  font-size: 25px;
}
/* End Embedded */
